<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header>
    <meta charset="UTF-8">
    <title text="Ny kontakt"></title>
    <link rel="stylesheet" href="../stylesheets/styles.css" media="screen"/>
</header>
<body>
<nav class="topmenu"
<a href="/">Se alle kunder</a>
<a href="/newContact">Opret ny kunde</a>
<a href="/logout" class="item">Log ud</a>
</nav>
<form action="/newContact" method="post">
    <input type="text" name="FirstName">
    <input type="text" name="LastName">
    <input type="submit" value="Opret kontakt">
</form>
</body>
</html>