<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header>
    <meta charset="UTF-8">
    <title text="Læs note"></title>
    <link rel="stylesheet" href="../stylesheets/styles.css" media="screen"/>
</header>
<body>
<nav class="topmenu"
<a href="/">Se alle kunder</a>
<a href="/newContact">Opret ny kunde</a>
<a href="/logout" class="item">Log ud</a>
</nav>

<h1 th:text="${'Kundeside: ' + customer.FirstName + ' ' + customer.LastName}"></h1>
<a th:href="${'/custview/' + customer.Id}" class="btn greyBtn">&laquo; Gå tilbage</a>

<div class="NotesContainer">
    <div class="NoteItem" th:id="${note.id}">
            <span class="NoteTitle">
                <a th:href="${'/editnote/' + note.id}" class="crudBtns editBtn">&#9998;</a>
                <span class="crudBtns deleteBtn" onclick="javascript: deleteNote(this);">x</span>
                <span class="Title" th:text="${note.subject}"></span>
                <span class="Datestamp" th:text="${note.timestamp}"></span>
            </span>
        <span class="NoteContent" th:text="${note.content}"></span>
    </div>
</div>

<script type="text/javascript">
    function deleteNote(elem) {
        var parentNoteTitle = elem.parentNode;
        var parentNoteItem = parentNoteTitle.parentNode;

        if (confirm("Er du sikker på at du vil slette denne note?")) {
            var id = parentNoteItem.id;
            window.location.href = "/deletenote/" + id;
        }
    }
</script>
</body>
</html>